<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student List</title>
</head>
<body>
    <h1>Student List</h1>
    <!-- Hiển thị danh sách sinh viên -->
    <table>
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Name</th>
                <th>Batch</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.studentId}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.batch}"></td>
                <td th:text="${student.gender == 1 ? 'Male' : 'Female'}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
